.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
}

label {
  display: block;
  margin-bottom: 40px;
}

input[type="text"],
textarea,
input[type="file"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.postSubmitButtonContainer {
  display: flex;
  justify-content: center;
}

.postSubmitButton {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  max-width: 200px;
  width: 100%;
}

.postSubmitButton :hover {
  background-color: darkblue;
}